<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <form action="/auth/shopify" method="get">
      <label for="shop">Enter your store's URL:</label>
      <input type="text" name="shop" placeholder="your-shop-url.myshopify.com">
      <button type="submit">Authorize</button>
    </form>
  </body>
</html>