<!DOCTYPE html>
<html>

<head>
  <title>BuyMeIfYouCan Shopify App</title>
  <script type='text/javascript'>
    // If the current window is the 'parent', change the URL by setting location.href
    if (window.top == window.self) {
      window.top.location.href = "<%- authUrl %>";

      // If the current window is the 'child', change the parent's URL with postMessage
    }
    else {
      message = JSON.stringify({
        message: "Shopify.API.remoteRedirect",
        data: {
          location: "<%- authUrl %>"
        }
      });
      console.log('tried to change location');
      window.parent.postMessage(message, "https://<%= shopHandle + '.myshopify.com' %>");
    }
  </script>
</head>

<body>

</body>

</html>